body {
  margin: 0;
  font-family: "Didact Gothic", sans-serif;
  background-color: black;
  color: white;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 32px;
  background-color: black;
}

ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: all .5s linear;
}

a {
  padding: 20px 0;
}

a:hover {
  color: white;
  border-bottom: 3px solid orange;
}

.nav {
width: 100%;
}

.logo {
width: 40%;
}

.logo img {
  width: 400px;
  margin-left: 15%;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.main {
  margin-top: 75px;
}

.name h3 {
margin: 5px 0;
}

.text p {
  margin: 5px 0;
}

.block {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 40px;
  border-radius: 50px;
  margin-bottom: 25px;
}

.form label {
  float: left;
  margin-right: 15px;
}

.form  textarea {
  margin-top: 5px;
  background: #00000000;
  border: 1px solid orange;
  color:white;
}

.form button {
  background: #00000000;
  border: 1px solid orange;
  color:white;
  padding: 5px;
}